.venv/
.env            # Environment variable definitions (may contain secrets)

.coverage       
htmlcov/


.vscode/        

__pycache__/    # Python bytecode cache
*.pyc           
*.pyo           
.ruff_cache/    # Ruff linter cache
.mypy_cache/    # Mypy static type checker cache
.pytest_cache/  # Pytest test result cache

build/
fast_api_test_todo.egg-info/

temp/
bin/